<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Order Status Lookup</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Order Status Lookup</h1>

    <form th:action="@{/secured/orders}" method="post">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <input type="text" name="input" id="input" class="form-control input-lg"
                       placeholder="#41156789 or foo@bar.com" required="true" autofocus="true"/>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Lookup"/>
            </div>
        </div>
    </form>

    <!-- for displaying search results -->
    <div class="alert" th:if="${orders != null and #lists.isEmpty(orders)}">
        <strong>No result found!</strong> Please retry with different search filter(s).
    </div>
    <section id="searchResult" th:if="${orders != null and not #lists.isEmpty(orders)}" style="margin-top:20px">
        <table id="resultTable" class="table table-bordered">
            <thead>
            <tr class="center middle">
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Email</th>
                <th>Payment Status</th>
                <th>Fulfillment Status</th>
                <th>Note</th>
                <th>Order Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.name}">#41156789</td>
                <td th:text="${order.createdAt}">2017-11-01</td>
                <td th:text="${order.email}">foo@bar.com</td>
                <td th:text="${order.financialStatus}">Paid</td>
                <td th:text="${order.fulfillmentStatus}">Fulfilled</td>
                <td th:text="${order.note}">Note</td>
                <td><a th:href="${order.orderStatusUrl}" th:target="_blank">View Detail</a></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>
